/* Gallery styles */

#gallery {
  /* The width of the gallery */
  width: 77%;
  overflow: hidden;

}

#slides {
  /* This is the slide area */
  height: 520px;

  /* jQuery changes the width later on to the sum of the widths of all the slides. */
  width: 920px;
  overflow: hidden;
}

.slide {
  float: left;
}

#menu {
  /* This is the container for the thumbnails */
  height: 110px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  /* Every thumbnail is a li element */
  width: 110px;
  display: inline-block;
  list-style: none;
  height: 100px;
  overflow: hidden;
}

li.act a {
  cursor: default;
}

li a {
  display: block;
  height: 100px;
}

table {
  width: 920px;
  height: 400px;
  border-collapse: separate;
  border-spacing: 70px 30px;
  background-color: transparent;
}

#imgServiS {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px black;
  -webkit-box-shadow: 0px 0px 15px 15px #929292;
  width: 256px;
  height: 256px;
}

#misImages :hover {
  box-shadow: 0px 0px 15px 15px rgb(245, 0, 0);
  -webkit-box-shadow: 0px 0px 15px 15px #fcab3186;
}

.menuItem :hover {
  filter: sepia(100%);
}


#misTitulos {
  color: #00A99D;
  border-bottom: 1px solid #797979;
}

.menuItem {
  margin-right: 40px;
  margin-top: 30px;
}

.menuTexto {
  margin-right: 40px;
}

#main {
  background-image: url('/images/fondo.png');
  width: 100%;
  height: 1500px;
}

#textoMenu {
  width: auto;
}

#fondoTabla {
  background-color: black;
}

td {
  font-size: 12px;
}

tr{
height: 100%;
}

#tituloProductos {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: xx-large;
}