
.carousel-control-next-icon {

    background-image: url("/images/flecha1.png") !important;
    width: 70px;
    height:70px;
}
.carousel-control-prev-icon {

    background-image: url("/images/flecha2.png") !important;
    width: 70px;
    height: 70px;
}

/*.hello {
    width: 82%;
    align-content: center;
    margin: 0px auto;
}*/

#carouselExampleCaptions{
    margin-bottom: 30px;
    z-index: 0;
    position: relative;
}

@media only screen and (max-width: 600px ) {
    #txt1 {
      font-size: large;
    }
    #txt2{
        font-size: large;
      }
      #txt3 {
        font-size: large;
      }
}
