* {
    margin: 0;
    margin: 0;
}
.container-team {
    background-color: white;
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.pepe {
    background-color: blue;
    height: 100%;
    width: 35%;
}

.container-team .pepe .box1  {
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container-team .pepe .box1 .title1 {
    font-size: 80px;
    margin: 0;
    padding: 0;
}
.container-team .pepe .box1 .title2 {
    font-size: 100px;
    margin: 0;
    padding: 0;

}
.message-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.message {
    font-size: 32px;
}
.arrow-prev-button {
    background-image: url("../images/next.png") !important;
    background-color: white;
    height: 64px;
    width: 64px;
}
.display-container {
    flex-direction: row;
    width: 100%;
  
}
.principalTextTeam{
    margin: 5px;
    display: block;
    padding: 5px;
    width: 40%;
    background-color: #00A99D;
    font-size: x-large;
    border-radius: 10%
}
.display-text {
    
}
.arrow-next-button {
    
}