.carousel-inner {
    z-index: 0;
}

.carousel-control-next-icon {

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_3_E2up1jG1vTLp7DPjg7LGap41KJZmq-LNE6RoJNYRPY0vbB&usqp=CAU") !important;
}
.carousel-control-prev-icon {

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLwl7dB0_ZYufGNONSZC6yqHEZO9D62OFRFZjLOrLS9awth0TE&usqp=CAU") !important;
}

/*.hello {
    width: 82%;
    align-content: center;
    margin: 0px auto;
}*/

#txt1{
    text-align: left;
}

#txt2{
    text-align: left;
}

#txt3{
    font-size: xx-large;
    text-align: left;
    background-color: cadetblue;
    border-radius: 10px;
    color: cornsilk;
    width: 30%;
    height: 50px;
    
}

@media only screen and (max-width: 600px) {
    #txt1 {
      font-size: large;
    }
    #txt2{
        font-size: large;
      }
      #txt3 {
        font-size: large;
        width: 50%;
        height: 30px;
      }
}

